.contact_form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #fff;
  border-radius: 15px;
  max-width: 1100px;
  gap: 2rem;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }

  .contact_left_container{
    h3{
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    .contact_text{
      font-size: 0.85rem;
      margin-bottom: 1rem;
    }

    .contact_left{
      display: flex;
      align-items: center;
      margin-top: 1rem;
    
      .icon{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #b47561;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;
          }
          p{
            font-size: 0.85rem;
          }
    }
   


    .social_icons{
      display: flex;
      margin-top: 1.40rem;
      
      
  
      div{
        margin-right: 1rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover{
          opacity: 0.7;
          
        }

        svg{
          font-size: 1.5rem;
          opacity: 1;
        }
      }
    }
  }

  .contact_right{
    h3{
      font-size: 1.5rem;
      margin-bottom: 1rem;
      
    }

    .row {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
      gap: 0.5rem;

      input {
        border: none;
        outline: none;
        margin-bottom: 0.5rem;
        padding: 1rem 1.5rem;
        background: #d4c4bc;
        font-family: "Poppins";
        border-radius: 5px;
        font-size: 0.85rem;
       
      }
      textarea{ 
        border: none;
                outline: none;
                
                padding: 1rem 1.5rem;
                background: #d4c4bc;
                border-radius: 5px;
                resize: none;
                min-height: 150px;
                font-size: 0.85rem;
                font-family: "Poppins";

      }
    }

    .btn{
      margin-top: 1rem;
      padding: 0.65rem 1rem;
      border-radius: 10px;
      font-size: 1rem;
      color: #573e37;
      border: none;
      outline: none;
      font-weight: bold;
      cursor: pointer;
    }
        button{
          
            background: #d4c4bc;
          }
    }
  }

